@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body{
    background-color: #f8f9fa;
}
h2{
    color: #f65050;
    font-family: 'Montserrat';
}
form{
    margin: 0 auto;
    width: 400px;
    height: 330px;
    border: 2px solid red;
    background-color: #fff;
}
form ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
form label{
    display: block;
    width: 90px;
    margin-bottom: 10px;
    font-family: 'Montserrat';
}
form li{
    margin-top: 16px;
}
form ul li .btn{
    color: #fff;
    background-color: #f65050;
    font-size: larger;
    width: 100%;
    height: 40px;
    position: relative;
    bottom: 45px;
}
form ul .obser{
    float:right;
    position: relative;
    bottom: 65px;
}
form ul li input{
    font-family: 'Montserrat';
    color: #fff;
    height: 20px;
}
.fa-paper-plane{
    color: #fff;
    font-size: large;
}
.fa-paper-plane::before {
	margin-right: 12px;
}