body{
    background-color: #f8f9fa;
}
h2{
    color: #f65050;
}
form{
    margin: 0 auto;
    width: 400px;
    height: 310px;
    border: 2px solid red;
    background-color: #fff;
}
form ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
form label{
    display: block;
    width: 90px;
    margin-bottom: 10px;
}
form li{
    margin-top: 16px;
}
form ul li .btn{
    width: 100%;
    background-color:#f65050;
    position: relative;
    bottom: 45px;
}
form ul .obser{
    float:right;
    position: relative;
    bottom: 65px;
}