form{
    margin: 0 auto;
    width: 400px;
    border: 2px solid red;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
label{
    display: inline-block;
    width: 90px;
    text-align: right;
}