@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body{
    background-color: #ececec;
    margin: 0;
}
div.logo{
    height: 50px;
    background-color: #fff;
}
div.debajo{
    height: 130px;
    border: 1px solid blue;
    background-color: gray;
    position: relative;
    top: 250px;
    z-index: -1;
}
div.logo img{
    height: 40px;
    display: block;
    margin: auto;
}
h2{
    color: #f65050;
    font-family: 'Montserrat';
}
form{
    margin: 0 auto;
    width: 400px;
    height: 360px;
    border: 2px solid red;
    background-color: #fff;
}
form ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
form label{
    display: block;
    width: 90px;
    margin-bottom: 10px;
    font-family: 'Montserrat';
}
form li{
    margin-top: 16px;
}
form ul li .btn{
    color: #fff;
    background-color: #f65050;
    font-size: larger;
    width: 100%;
    height: 40px;
    position: relative;
    bottom: 55px;
    border-radius: 5px;
}
form ul .obser{
    float:right;
    position: relative;
    bottom: 80px;
}
form ul li input{
    font-family: 'Montserrat';
    color: #fff;
    height: 27px;
}
.fa-paper-plane{
    color: #fff;
    font-size: large;
}
.fa-paper-plane::before {
	margin-right: 12px;
}